Body{
    padding: 0;
    margin: 0;
}

div{
    background: red;
    height: 100px;
    float: left;
    margin: 1%;
    text-indent: -9999px;
}

#sek1 div{
    
    width: 98%;/*odejmujemy 2% z marginesów*/
    
}

#sek2 div{
    
    width: 48%;
    
}

#sek3 div{
    
    width: 31.333333%;
}

#sek2 div{
    
    /*visibility: hidden;*/
    display: none; 
    
}

@media all and (max-width: 500px) {
    
    #sek2 div{
    
       display: block;
    
    }

    #sek3 div{
    
        width: 98%;
    }

}

@media all and (min-width: 501px) and (max-width: 768px) {
    
    div {
        background: blue;
    }

    #sek3 div{
    
        width: 98%;
    }

}