@import url(../reset.css);

body{
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

div{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px solid red;
}

.pierwszy{
    background-color: #045aa8;
}

.drugi{
    background-color: #0389bd;
}

.trzeci{
    background-color: #4ccad7;
}