body{
    font-family: "Arial";
    font-size: 0.8rem;
    line-height: 1.6;
}

p{
    background-color: bisque;
    padding: 20px;
    font-weight: bold;
}

img{
    float: left;
    margin-right: 20px;
}

.nizej{
    clear: both;
}